/* payment.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #cacaca;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

/* Container styles */
.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url('./images/pug-2970827_1920.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

/* Heading styles */
h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* Paragraph styles */
p {
    margin-bottom: 10px;
    font-size: 24px;
}
.purchaseOrder{
    font-weight: bold;
    text-decoration: underline;
}
/* Form styles */
form {
    margin-top: 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    input[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }
}
